/*
.dl-horizontal dt {
    width: 300px;
}

.dl-horizontal dd {
    margin-left: 320px;
}
*/

dt > * {
    white-space: normal;
    word-wrap: break-word;
}

dd > * {
    white-space: normal;
    word-wrap: break-word;
}

#cookies table td {
    white-space: normal;
    word-wrap: break-word;
}

#cookies table td pre {
    width: 200px;
}

.table-striped > tbody > tr:nth-child(even) > td pre,
.table-striped > tbody > tr:nth-child(even) > th pre {
  background-color: #ffffff;
}

.glyphicon.spinning {
    transform-origin: 50% 58%;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}